body { font-family: Helvetica; }

#catalog { width: 60%; float: left; margin-bottom: 50px; }

#cart { font-size: 0.8em; }

#cart table { width: 300px; margin-left: 60%; min-height: 200px; background: #eee; }

tr.total { background: #ddd; font-weight: 600; }

td { padding: 5px; }

th { text-align: left; white-space: nowrap; padding: 5px; }
        
#debug { clear: left; border: 1px solid #ddd; padding: 5px; }